.bodi {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

@font-face {
  font-family: newFont;
  /* src: url(/assets/fonts/tommys.ttf); */
  src: url(/assets/fonts/FakeHope.ttf);

}

@font-face {
  font-family: helvetic;
  /* src: url(/assets/fonts/homeworkpreschooler.ttf); */
  src: url(/assets/fonts/HelveticaNeue.ttc);

}

@font-face {
  font-family: potra;
  /* src: url(/assets/fonts/homeworkpreschooler.ttf); */
  src: url(/assets/fonts/Potra.ttf);
}

/* .fontyHead {
  font-family: newFont;
  font-size: 3vw;
  position: fixed;
  text-align: center;
  left: 44.25vw;
  top: 14.5vh;
  color: white;

} */

.earth {
  width: 100vw;
  height: 100vh;
  top: 33.2vh;
  left: 16.65vw;
  position: absolute;
  transform: scale(1.725);
}

#totalAsteroids {
  font-size: 5vmin;
  /* font-family: newFont; */
  font-family: 'IBM Plex Sans';
  color: grey;
}

.todTot {
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 2vmin;
  position: absolute;
  top: 36%;
  left: 42.75%;
  text-align: left;
  color: white;
  z-index: 1;
}

.posTot {
  color: white;
  position: absolute;
  top: 40.25%;
  left: 48.5%;
  text-align: right;
}

#potentiallyHazardous {
  font-size: 9vw;
  font-family: 'newFont';
  /* color: red; */
}

.potHaz {
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 2.5vw;
  position: fixed;
  top: 40.5vh;
  left: 0vw;
  text-align: left;
  color: white;
  z-index: 1;
}

.posHaz {
  color: red;
  position: fixed;
  top: 40.75vh;
  left: 0vw;
}

#date {
  font-family: newFont;
  font-size: 2vw;
}

#hazTimeDisplay {
  white-space: pre-wrap;
  font-family: 'IBM Plex Sans';
  font-size: 1.8vmin;
  position: absolute;
  /* width: 1%; */
  top: 23.75%;
  left: 39%;
  text-align: left;
  color: red ;

}

#closeApproch {
  color: white;
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 2.5vmin;
  /* font-size: 1.6vw; */
  z-index: 1;
  left: 39%;
  top: 10.5%;
  position: absolute;
  text-align: left;
}

/* .dot {
  position: fixed;
  background-color: purple;
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;
  top: 50vh;
  left: 50vw;
  z-index: -1;
  animation: myOrbit linear infinite 6s ;
} */

/* .dot2 {
  position: fixed;
  background-color: orange;
  border-radius: 50%;
  height: 0.4em;
  width: 0.4em;
  top: 50vh;
  left: 50vw;
  z-index: -1;
  animation: myOrbit linear infinite 8s ;
} */

/* .dot3 {
  position: fixed;
  background-color: green;
  border-radius: 50%;
  height: 0.3em;
  width: 0.3em;
  top: 50vh;
  left: 50vw;
  z-index: -1;
  animation: myOrbit linear infinite 10s ;
} */

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(240px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(240px) rotate(-360deg); }
}

.earth img {
  position: absolute;
  top: 0%;
  left: 20%;
  width: 45%;
  filter: invert(100%);
  /* filter: invert(50%) sepia(0); */
  z-index: -1;
}

#time{
  position: absolute;
  font-family: 'IBM Plex Sans';
  font-size: 3vmin;
  top: 50%;
  left: 39.5%;
  /* color: pink; */
  color: orange;
  animation: blink 1s alternate infinite;
  text-align: center;
}

.timeNow {
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 2vmin;
  position: absolute;
  top: 48%;
  left: 39.5%;
  text-align: left;
  color: white;
  z-index: 1;
}

@keyframes blink {
  from { opacity: 0%; }
  to { opacity: 100%; }
}

/* .clockTHREE {
  position: absolute;
  width: 5vmin;
  top: 10vmin;
  left: 15vmin;
} */
