.bodi {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

@font-face {
  font-family: newFont;
  /* src: url(/assets/fonts/tommys.ttf); */
  src: url(/assets/fonts/FakeHope.ttf);

}

@font-face {
  font-family: helvetic;
  /* src: url(/assets/fonts/homeworkpreschooler.ttf); */
  src: url(/assets/fonts/HelveticaNeue.ttc);

}

@font-face {
  font-family: potra;
  /* src: url(/assets/fonts/homeworkpreschooler.ttf); */
  src: url(/assets/fonts/Potra.ttf);
}

/* .fontyHead {
  font-family: newFont;
  font-size: 3vw;
  position: fixed;
  text-align: center;
  left: 44.25vw;
  top: 14.5vh;
  color: white;

} */

#totalAsteroids {
  font-size: 9vw;
  /* font-family: newFont; */
  font-family: 'IBM Plex Sans';
}

.todTot {
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 2.5vw;
  position: fixed;
  top: 55vh;
  left: 54.5vw;
  text-align: left;
  color: white;
  z-index: 1;
}

.posTot {
  color: white;
  position: fixed;
  top: 61vh;
  left: 62.5vw;
  text-align: right;
}

#potentiallyHazardous {
  font-size: 9vw;
  font-family: 'newFont';
  /* color: red; */
}

.potHaz {
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 2.5vw;
  position: fixed;
  top: 40.5vh;
  left: 0vw;
  text-align: left;
  color: white;
  z-index: 1;
}

.posHaz {
  color: red;
  position: fixed;
  top: 40.75vh;
  left: 0vw;
}

#date {
  font-family: newFont;
  font-size: 2vw;
}

#hazTimeDisplay {
  font-family: 'IBM Plex Sans';
  font-size: 2.5vw;
  position: fixed;
  width: 10vw;
  top: 34.5vh;
  left: 54.5vw;
  /* left: 43vw; */
  text-align: left;
  color: red;

}

#closeApproch {
  color: white;
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 3vw;
  z-index: 1;
  left: 48vw;
  top: 14vh;
  position: fixed;
  text-align: left;
}

.dot {
  position: fixed;
  background-color: purple;
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;

  top: 50vh;
  left: 50vw;

  z-index: -1;

  animation: myOrbit linear infinite 6s ;
  /* opacity: 75%; */
}

.dot2 {
  position: fixed;
  background-color: orange;
  border-radius: 50%;
  height: 0.4em;
  width: 0.4em;

  top: 50vh;
  left: 50vw;

  z-index: -1;

  animation: myOrbit linear infinite 8s ;
  /* opacity: 75%; */
}

.dot3 {
  position: fixed;
  background-color: green;
  border-radius: 50%;
  height: 0.3em;
  width: 0.3em;

  top: 50vh;
  left: 50vw;

  z-index: -1;

  animation: myOrbit linear infinite 10s ;
  /* opacity: 75%; */
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(240px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(240px) rotate(-360deg); }
}

.earth img {
  position: fixed;
  top: -3vh;
  left: 15.25vw;
  width: 77vw;
  filter: invert(100%);
  /* filter: invert(50%) sepia(0); */
  z-index: -1;
}

#time{
  position: absolute;
  font-family: 'IBM Plex Sans';
  font-size: 6vw;
  top: 80vh;
  left: 45vw;
  color: white;
  animation: blink 1s alternate infinite;
  text-align: center;
}

.timeNow {
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 2.5vw;
  position: fixed;
  top: 75.5vh;
  left: 45vw;
  text-align: left;
  color: white;
  z-index: 1;
}

@keyframes blink {
  from { opacity: 0%; }
  to { opacity: 100%; }
}
